chaos
chaos.tab.c
chaos.tab.h
lex.yy.c

# Editors and IDEs
.vscode/

# Ignore the scripts that are created for development
*dev.*

# Ignore local history
.history

# Ignore folder generate via mac os
chaos.dSYM/

# Ignore generate via mac os
.DS_Store
