name: "[test] Command-line Arguments"

on: [push, pull_request]

jobs:
  main:
    name: cli_args
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install dependencies
      run: |
        sudo make requirements

    - name: Build
      run: |
        make clean
        make
        sudo make install

    - name: Run the tests
      run: |
        make test-cli-args
